
@{
    ViewBag.Title = "ProfileCompletionThankYou";
}

<h2>Profile Completion</h2>
<h3>Thank you for completing your profile</h3>
<h3>We will send you an email when there are couples registered in your city</h3>
<h3>so that you can begin double-dating!</h3>

