@model CoupleDating_MVC5.Models.TagType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TagType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tagTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>