@{
    ViewBag.Title = "About";
}
<h2>About us...</h2>
<h3 class="text-info">This site is one of a kind. We're proud to say we're here to match up couples from everywhere based on there commonalities and interests in order to create new friendships and expand the possibilities of their relationships through positive competitive great-spirited fun!</h3>

<p>We are always open to feedback from every couple in order to expand the possibilities of this site. Please click on <b>Contact</b> above to see how you can provide feedback. In the meantime, have fun meeting new couples, go out on double-dates, and rate each other.</p>