@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Our contact information is always available to you!</h3>

<address>
    Orlando, FL 32825<br />
    @*<abbr title="Phone">P:</abbr>
        425.555.0100*@
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">CouplesDating@gmail.com</a><br />
</address>